.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.previous-button,
.next-button {
  background-color: green;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 20px;
  cursor: pointer;
}

.current-page-block {
  font-size: 20px;
  padding: 5px 10px;
  margin: 0 20px;
  cursor: pointer;
}

.current-page {
  font-weight: bold;
}
