.main-block-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.book-list-wrapper {
  width: 100%;
  min-width: 60%;
}

.change-theme-btn {
  position: absolute;
  top: 30px;
  right: 30px;
}

.main {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.dark-mode {
  background-color: black;
  color: white;
}

.light-mode button {
  background-color: lightgreen;
}

.dark-mode button {
  background-color: green;
}
