.change_theme_btn {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: lightgreen;
}

.main_block_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.book_list_wrapper {
  width: 100%;
  min-width: 60%;
}
.main_light,
.main_dark {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.main_dark {
  background-color: black;
  color: white;
}

.main_light button {
  background-color: lightgreen;
}

.main_dark button {
  background-color: green;
}

.error_msg {
  font-size: 35px;
  color: red;
  text-align: center;
}

.not_found {
  text-align: center;
}
