.loader-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.not-found {
  font-size: 20px;
}

.results-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-link {
  margin: 15px;
  width: 40%;
  text-decoration: none;
  color: black;
}
